= form_for @user, html: { class: "form form-horizontal user1" } do |f|
  .form-group
    = f.label :first_name, class: 'control-label'
    .controls
      = f.text_field :first_name, class: 'form-control', required: true
    = error_span(@user[:first_name])
  .form-group
    = f.label :last_name, class: 'control-label'
    .controls
      = f.text_field :last_name, class: 'form-control', required: true
    = error_span(@user[:last_name])
  .form-group
    = f.label :address, class: 'control-label'
    .controls
      = f.text_field :address, class: 'form-control', required: true
    = error_span(@user[:address])
  .form-group
    = f.label :gender, class: 'control-label'
    .controls
      = f.text_field :gender, class: 'form-control', required: true
    = error_span(@user[:gender])
  .form-group
    = f.label :facebook, class: 'control-label'
    .controls
      = f.text_field :facebook, class: 'form-control', required: true
    = error_span(@user[:facebook])
  .form-group
    = f.label :twitter, class: 'control-label'
    .controls
      = f.text_field :twitter, class: 'form-control', required: true
    = error_span(@user[:twitter])
  .form-group
    = f.label :zip, class: 'control-label'
    .controls
      = f.text_field :zip, class: 'form-control', required: true
    = error_span(@user[:zip])
  .form-group
    = f.label :birthday, class: 'control-label'
    .controls
      = f.text_field :birthday, class: 'form-control', required: true
    = error_span(@user[:birthday])
  .form-group
    = f.label :status_id, class: 'control-label'
    .controls
      = f.text_field :status_id, class: 'form-control', required: true
    = error_span(@user[:status_id])
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@user[:name])
  .form-group
    = f.label :image, class: 'control-label'
    .controls
      = f.text_field :image, class: 'form-control', required: true
    = error_span(@user[:image])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default'
